.contact-modal {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.open-modal {
  background-color: #256BAB;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 1rem 5% 2rem auto;
  padding: 0.5rem;
  height: auto;
  width: 15rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.open-modal > .plus-icon {
  display: inline-block;
  background: white;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.25rem;
  font-size: 1.5rem;
  color: #256BAB;
  margin-right: 0.5rem;
}

.modal-header,
.modal-body {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.modal-header {
  justify-content: space-between;
  background-color: #256BAB;
  color: white;
}

.modal-header > .close {
  background-color: white;
  border-radius: 100%;
  color: #F3863B;
  cursor: pointer;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  width: 1.5rem;
}

.modal-header > * {
  margin: 1rem;
}

.modal-body {
  justify-content: flex-start;
}

.modal-body > .form-item {
  display: flex;
  flex-flow: column wrap;
  border: none;
  padding: 1rem;
  width: 45%;
}
.modal-body > .form-item.notes {
  width: 100%;
}

@keyframes animatetop {
  from { top: -200rem; opacity: 0; }
  to { top: 50%; opacity: 1; }
}
