.App {
  display: flex;
  flex-flow: row wrap;
}

.App > .app-header {
  background-color: #F38034;
  color: white;
  height: 5rem;
  width: 100%;
  line-height: 5rem;
  border-bottom: 1.5rem solid #E7E7E7;
  margin: 0;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
